.auth-card {
    background: white;
    width: 500px;
    padding: 40px;
    border-radius: 5px;
}

.auth-title {
    text-align: center;
    margin-bottom: 30px;
}
.auth-text {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.auth-button {
    width: 100%;
    padding: 12px;
    background: #000;
    font-weight: bold;
    color: #fff;
    border: none;
    margin-top: 20px;
}

.auth-main-btn {
    display: block;
    width: 220px;
    margin: 30px auto;
    /* 中央配置 */

    padding: 12px;
    background: #dbdbdb;

    color: #000;
    font-weight: bold;

    border: 2px solid #000;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    /* 下線消す */
}

.auth-link {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.auth-link a {
    color: #007bff;
    text-decoration: none;
}

.auth-resend {
    background: none;
    border: none;

    color: #007bff;
    font-size: 14px;

    cursor: pointer;

    display: block;
    margin: 20px auto;
}