/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key

.env
.env.*
!.env.example

.phpunit.result.cache
npm-debug.log
yarn-error.log

/.idea
/.vscode

docker/mysql/data/
docker/mysql/data/*

.env.backup
docker-compose.override.yml
Homestead.json
Homestead.yaml
